@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --colorBase: #ebaa34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Condensed', sans-serif;
}

/*header*/

header {
    background: var(#FFFFFF);
}

.contentheader {
    display: flex;
   
    justify-content: space-around;
}

.imagenh {
    align-items: center;
    width: 300px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
}

.menu a {
    transition: 0.5s;
    color: #7e8f9a;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
}

.menu a:hover {
    transition: 0.5s;
    background: #8e9fe6;
    color: #7e8f9a;
    border: solid;
    border-width: 1px;
}

/*wave*/

.wave {
    position: absolute;
    display: flex;
    align-items: center;
    width: 320px;   
    height: 300px;
}

.waves {
    position: absolute;
}

/*pagina de registro*/

.formulario {
    position: relative;
    z-index: 10;
    max-width: 400px;
    margin: 20px auto 40px auto;
    background: #ebaa34;
    border-radius: 4px;
    padding: 40px 60px;
    -webkit-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
}

.formulario img {
    width: 200px;
    margin: 30px auto 30px auto;
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    color: #ffffff;
}

form h2 {
    text-align: center;
    color: #ffffff;
}

input {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    background: transparent;
    width: 80%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input:focus{
    outline: none;
}
label{
    width: 80%;
    margin: 0 auto 10px auto;
}

/*botones*/
.botones{
    display: flex;
}
.btn{
    background: #7e8f9a;
    width: 100px;
    margin: 5px;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: #7e8f9a;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 4px 10px;
    transition: 0.3s;
}

.error{
    text-align: center;
}

.btn:hover{
    transition: 0.3s;
    background: #c82360;
    color: rgb(255, 255, 255);
}

.boton_salir{
    text-align: center;
}

/*footer*/
footer{
    position: relative;
    background: var(--colorBase);
}
.conteninfo{
    background: var(--colorBase);
    color: white;
    text-align: center;
    padding: 55px 10px;
}